name: brew-ci

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  audit:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Brew style
        run: brew style Formula/barracuda.rb
